/*
* Music Streaming Dashboard
* Created by : Negin Soleimani
* website : www.negasol.ir
*/

/* Table of Content
==================================================

*/

/* Google fonts & font family
==================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");

/*
font-family: 'Noto Sans', sans-serif;
*/

/* General
==================================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color themes and variables*/

:root {
  --backgroundColor: "#fff";
  --borderColor: "#e9f1fb";
  --textColor: "#8091b7";
  --fontFamily: "Noto Sans";
}

body {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 1fr;
  font-family: var(--fontFamily);
}

/* left-aside
==================================================*/

.left-aside {
  background-color: #fff;
  border-right: solid 1.5px #e9f1fb;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Fredoka", sans-serif;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 6% 8%;
  list-style: none;
  color: #3c496e;
  font-weight: 600;
  font-size: 0.8rem;
}

.menu i {
  padding-right: 20%;
  font-size: 1.1rem;
  color: #7c8db5;
}

/* main
==================================================*/
main {
  display: grid;
  grid-template-rows: 0.5fr 3fr 3fr 3fr;
  grid-gap: 1rem;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 2% 0;
  color: #7c8db5;
  align-items: center;
  font-family: "Fredoka";
  font-weight: 800;
}
.navbar-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}

.navbar-text div {
  text-align: center;
}

.music-container {
  margin: 0 auto;
  width: 90%;
  padding: 3% 0;
  border: 1.5px solid #e9f1fb;
  border-radius: 10px;
}

.title {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 2%;
}
.title h4 {
  color: #3c496e;
}

.title h5 {
  color: #8091b7;
}
.music-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 95%;
  margin: 0 auto;
}
.music-box .box {
  border: 1.5px solid #e9f1fb;
  border-radius: 10px;
  padding: 5%;
}

.img-box {
  width: 90%;
  margin: 0 auto;
  padding-top: 10%;
}
.img-box img {
  width: 100%;
  border-radius: 20px;
}

.text-box {
  padding-left: 10%;
}

.text-box h5 {
  padding-bottom: 3%;
  color: #3c496e;
}

.text-box h6 {
  color: #7c8db5;
  padding-bottom: 5%;
}

.Recent-play {
  margin: 0 auto;
  width: 95%;
}

.Pecent-play-box {
  padding: 2% 0;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 4fr 0.5fr 1fr;
  text-align: center;
  color: #7c8db5;
}

.Pecent-play-box i {
  border: solid 1.5px #e9f1fb;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.recent-play-textbox {
  display: flex;
  align-items: center;
}

.recent-play-img {
  width: 50px;
  height: 50px;
  border-radius: 16px;
}

.recent-play-img img {
  width: 100%;
  border-radius: 16px;
}

.recent-textbox {
  padding-left: 2%;
}

/* right-aside
==================================================*/

.right-aside {
  background-color: #fff;
  border-left: solid 1.5px #e9f1fb;
  display: grid;
  grid-template-rows: 0.25fr 0.7fr 1.5fr 3fr;
}

.notif-bar {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-top: 5%;
}

.notif-box-container {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
}

.notif-box {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
}

.notif-box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e9f1fb;
  border-radius: 16px;
  color: #7c8db5;
}

.notif-box-img {
  font-size: 1.3rem;
  color: #7c8db5;
}

.notif-text {
  display: flex;
  justify-content: space-between;
}

.notif-time {
  color: #7c8db5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: flex-end;
}

.TopArtists-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.Topart-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-bottom: 7%;
  width: 80%;
  margin: 0 auto;
}

.Topart-box div {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 16px;
  text-align: center;
  background-size: cover;
}

.Topart-box h6 {
  padding: 3% 0;
  color: #3c496e;
}

.musicPlayer-container {
  width: 80%;
  margin: 0 auto;
  padding: 4% 0;
}

.musicPlayer {
  background-color: #2a9a9a;
  border-radius: 16px;
  width: 100%;
  height: 450px;
}

.musicPlayer-title {
  text-align: center;
  padding-top: 10%;
  color: white;
}

.musicPlayer-title img {
  width: 150px;
  margin: 6% 0;
  border-radius: 16px;
}

.musicTime {
  margin: 0 auto;
  color: #e0e0e0;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
}
.musicPlayer hr {
  background-color: #6ab3b3;
  border: #2a9a9a;
  width: 75%;
  height: 3px;
}

.musicTime h6 {
  font-family: "Sen", sans-serif;
  font-size: 0.8rem;
}

.musicPlayer-btn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  color: white;
  padding: 5% 0;
}

.musicPlayer-btn i {
  font-size: 1.2rem;
  display: flex;
}

.Playbtn {
  background-color: #6ab3b3;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}
