/*
* Music Streaming Dashboard
* Created by : Negin Soleimani
* website : www.negasol.ir
*/

/* Table of Content
==================================================

*/

/* Google fonts & font family
==================================================*/

/*
fontfamily:;
*/

/* General
==================================================*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Color themes and variables*/
  
  :root {}

  body {}
  